# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/Library
/obj
/Assets/Standard Assets
/Assets/Standard Assets.meta
/Temp/UnityLockfile
/Temp
/Packages
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/TestCameraDepth.sln
/water_effect_lab.sln
/WaterLab.sln
/.vs/water_effect_lab/v15/.suo
/.vs/water_effect_lab/v15/Browse.VC.db
/.vs/water_effect_lab/v15/Server/sqlite3/db.lock
/.vs/water_effect_lab/v15/Server/sqlite3/storage.ide
/.vs/water_effect_lab/v15/Server/sqlite3/storage.ide-shm
/.vs/water_effect_lab/v15/Server/sqlite3/storage.ide-wal
/.vscode/settings.json
